
<body class="">
    <title>KSA Students|| Dashboard</title>

       <!-- Preloader -->
        <div class="preloader" >
            <div class="position">     
                <span class="loader"></span>
            </div>
        </div>
<!-- Preloader End --> 
        <!-- Preloader End --> 
    <!-- <body data-layout="horizontal"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">

            
            <app-header></app-header>

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content ">

                <div class="page-content">
                    
                    
                    <div class="container-fluid" >
                        <div class="row ">
                           <div class="col-12 d-flex justify-content-center">
                              <div class="text-center  mt-3 mb-3">
                                    <h2 class="text-ble">Welcome to your dashboard</h2>
                                    <h5 class="text-red" >KSA Students</h5>
                              </div>
                           </div>
                        </div>

                         <!-- <div class="row">

                            <div class="col-xl-4 col-md-6">
          
                                <div class="card card-h-100">
                         
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-3">
                                                <i class="fa-solid fa-users users" style=" background-color:#478ec5;"></i>
                                            </div>
                                            <div class="col-9 pt-2">
                                                <span class="text-muted mb-3 lh-1 d-block text-truncate" style="color:#478ec5  !important;;">Number of students</span>
                                                <h4 class="mb-3">
                                                    <span class="counter-value" data-target="865.2">{{HomeArray?.totalUsers}}</span>
                                                </h4>
                                            </div>
                                          
                                        </div>
                                    </div>
                                </div>
                            </div>



                          


                     
                        

                                
                  
                           
        
                        </div> -->

                        
                    </div> 
                  
                </div>
        
               

                
                <app-footer></app-footer>
            </div>
     

                

        </div>


    
  

     

</body>
