<!-- <app-about></app-about> -->
<!-- <app-vision></app-vision> --> 
<!-- <app-human-resource></app-human-resource> -->
<!-- <app-educational-courses></app-educational-courses> -->
<!-- <app-ksa-jobs></app-ksa-jobs> -->
<!-- <app-video-library></app-video-library> -->
<!-- <app-home-slider></app-home-slider> -->
<!-- <app-admission-form></app-admission-form> -->
<!-- <app-contactus-form></app-contactus-form> -->
<!-- <app-courses-form></app-courses-form> -->
<!-- <app-jobs-form></app-jobs-form> -->
<!-- <app-become-advisor-form></app-become-advisor-form> -->
<!-- <app-support-form></app-support-form> -->
<!-- <app-seo-tags></app-seo-tags> -->
<!-- <app-create-admins></app-create-admins> -->
<!-- <app-opinion-form></app-opinion-form> -->
<!-- <app-contactus-page></app-contactus-page> -->
<!-- <app-category></app-category> -->
<!-- <app-sub-categories></app-sub-categories> -->
<!-- <app-blogs></app-blogs> -->
<!-- <app-login></app-login> -->
<!-- <app-blog-update></app-blog-update> -->
<!-- <app-dash-home></app-dash-home> -->

<!-- <app-advice></app-advice> -->
<!-- <app-holidays></app-holidays> -->
<router-outlet></router-outlet>