<p>seo-tags works!</p>

<body class="">

    <!-- <body data-layout="horizontal"> -->
        <title>Ksa Student || Dashboard</title>


        <!-- Begin page -->
        <div id="layout-wrapper">

            
            <app-header></app-header>

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content ">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <!-- <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li>
                                            <li class="breadcrumb-item active">Editable Tables</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div> -->
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h4 class="card-title">Seo Tags Page</h4>
                                        <div class=""> 
                                            <button class="btn btnbebe mt-2" (click)="emptyForm()"  data-bs-toggle="modal" data-bs-target="#add"   aria-hidden="true">Add</button>
                                        </div>
                                    </div>
                                    <div class="card-body"> 

                                        <div class="w-100  spinner d-flex justify-content-center align-items-center " *ngIf="loading">
                                            <app-spinner></app-spinner>
                                        </div>

                                       

                                        <div *ngIf="showAddMSG" class="alert alert-success" role="alert">
                                            Data added successfully
                                        </div>
    
                                        <div *ngIf="showUpdateMSG" class="alert alert-success" role="alert">
                                            Data updated successfully
                                        </div>

                                        <div *ngIf="deleteMSG" class="alert alert-success" role="alert">
                                            Data disabled successfully
                                        </div>
    
                                        <div *ngIf="recoveryMSG" class="alert alert-success" role="alert">
                                            Data activated successfully
                                        </div>                                        
    
        
                                        <div class="table-responsive" *ngIf="!loading"> 
                                        <table id="datatable" class="table table-bordered table-striped dt-responsive  nowrap w-100">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Page</th>
                                                    <th>Title</th>
                                                    <th>Text</th>
                                                  
                                   
                                                    <th class="nosort">Actions</th>
                                                    <!-- <th>Delete</th> -->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of DataAarry; let index = index">
                                                
                                                    <td style="width: 80px">{{item.id}}</td>
                                                    

                                                    <td title="{{item.tag_type}}">{{ truncateText(item.tag_type,50) }}</td>
                                                    <td title="{{item.ar_tag_title}}"> {{ truncateText(item.ar_tag_title,60) }}</td>
                                                    <td title="{{item.ar_tag_text}}"> {{ truncateText(item.ar_tag_text,60) }}</td>
                                                    

                                                    <td style="width: 100px">
                                                        <button data-bs-toggle="modal" data-bs-target="#update" (click)="showData(item.id)" aria-hidden="true"   class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </button>
                                                        <button *ngIf="item.status == 1 " data-bs-toggle="modal" data-bs-target="#delete" (click)="getId(item.id)"    class="btn btn-outline-secondary btn-sm ms-4 edit" >
                                                            <i class="fa fa-remove" aria-hidden="true"></i>
                                                        </button>
                                                        <button *ngIf="item.status == 0 "  data-bs-toggle="modal" data-bs-target="#recovery" (click)="getId(item.id)"  class="btn btn-outline-secondary btn-sm ms-4 edit" >
                                                            <i class="fa-solid fa-rotate-left"></i>
                                                        </button>
                                                    </td> 
      
                                                    
                                                                     
                                                 </tr>
                                              
                                              
                                            </tbody>
                                        </table>
                                    </div> 
        
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                        
                    </div> <!-- container-fluid -->

                  
                </div>
                <!-- End Page-content -->

               

            <!-- <button  id="FixedDash" routerLink="/Home/en"   class="btn btnbebe ">Back To Home </button> -->
                
                <app-footer></app-footer>
            </div>
            <!-- end main content-->

                

        </div>
        <!-- END layout-wrapper -->

    
        <!-- Add Modal -->
        <div class="modal align-items-center fade" id="add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New </h5>
                <button type="button" (click)="emptyForm()"   class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="w-100  spinner d-flex justify-content-center align-items-center " *ngIf="loadingA">
                        <app-spinner></app-spinner>
                    </div>
                    <div *ngIf="showTryMSG" style="position: static !important;" class="alert alert-danger text-center" role="alert">
                        Please try again
                    </div>
                    <form class="row g-3" [formGroup]="newData" *ngIf="!loadingA">
                        <div class="col-md-12">
                          <label for=""   class="form-label">Page Title</label>
                          <input type="text" class="form-control " [class.is-valid]="newData.controls.tag_type.status == 'VALID'" 
                          [class.is-invalid]="newData.controls.tag_type.status == 'INVALID' && newData.controls.tag_type.touched"
                           formControlName="tag_type"  id="" value="" required>
                         
                        </div>

                        <div id="" class="text-danger col-md-12 fs-6 " role="alert">
                            <span  *ngIf="newData.controls.tag_type.errors?.['maxlength']"> Title must contain no more than 90 characters</span>
                        </div>
                        

                    
                        
                          <div class="col-md-6">
                            <label for="validationServer04" class="form-label">Meta Title</label>
                            <textarea type="text" class="form-control " [class.is-valid]="newData.controls.ar_tag_title.status == 'VALID'" 
                            [class.is-invalid]="newData.controls.ar_tag_title.status == 'INVALID' && newData.controls.ar_tag_title.touched" 
                             formControlName="ar_tag_title" value="" required></textarea>
                        </div>

                          <div class="col-md-6">
                            <label for="validationServer04" class="form-label">Meta Description </label>
                            <textarea type="text" class="form-control " [class.is-valid]="newData.controls.ar_tag_text.status == 'VALID'" 
                            [class.is-invalid]="newData.controls.ar_tag_text.status == 'INVALID' && newData.controls.ar_tag_text.touched" 
                             formControlName="ar_tag_text"  value="" required></textarea>
                        </div>

                    

                      
                       
                        
                      
                       
                      </form>      
                </div>


                <div class="modal-footer">
                <button type="button"  [disabled]="newData.invalid && newData.touched" (click)="addData(formData)"  class="btn btnbebe" >Add</button>
                </div>
            </div>
            </div>
        </div>

         <!-- update model -->
         <div class="modal align-items-center fade" id="update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Data</h5>
                <button type="button" (click)="emptyForm()"  class="btn-close"  data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="w-100  spinner d-flex justify-content-center align-items-center " *ngIf="loadingU">
                        <app-spinner></app-spinner>
                    </div>
                    <div *ngIf="showTryMSG" style="position: static !important;" class="alert alert-danger text-center" role="alert">
                        Please try again
                    </div>
                    <form class="row g-3" [formGroup]="newData" *ngIf="!loadingU">

                        <div *ngIf="wrongData" class="alert alert-danger text-center" role="alert">
                            Data invalid
                        </div>

                        <div class="col-md-12">
                          <label for=""   class="form-label">Page Title</label>
                          <input type="text" class="form-control " [class.is-valid]="newData.controls.tag_type.status == 'VALID'" 
                          [class.is-invalid]="newData.controls.tag_type.status == 'INVALID' && newData.controls.tag_type.touched"
                           formControlName="tag_type" [value]="ShowAarry?.tag_type"  id="" value="" required>
                      
                        </div>

                        <div id="" class="text-danger col-md-12 fs-6 " role="alert">
                            <span  *ngIf="newData.controls.tag_type.errors?.['maxlength']"> Title must contain no more than 90 characters</span>
                        </div>
                        



                          
                        <div class="col-md-6">
                            <label for="validationServer04" class="form-label">Meta Title</label>
                            <textarea type="text" class="form-control " [class.is-valid]="newData.controls.ar_tag_title.status == 'VALID'" 
                            [class.is-invalid]="newData.controls.ar_tag_title.status == 'INVALID' && newData.controls.ar_tag_title.touched" 
                             formControlName="ar_tag_title" [value]="ShowAarry?.ar_tag_title" id="validationServer04" value="" required></textarea>
                        </div>

                          <div class="col-md-6">
                            <label for="validationServer04" class="form-label">Meta Description </label>
                            <textarea type="text" class="form-control " [class.is-valid]="newData.controls.ar_tag_text.status == 'VALID'" 
                            [class.is-invalid]="newData.controls.ar_tag_text.status == 'INVALID' && newData.controls.ar_tag_text.touched" 
                             formControlName="ar_tag_text" [value]="ShowAarry?.ar_tag_text" id="validationServer04" value="" required></textarea>
                        </div>

                          
                                                  

                       
                      </form>     
                </div>


                <div class="modal-footer">
                <button type="button" (click)="updateData(formData ,ShowAarry?.id )" class="btn btnbebe"   >Update</button>
                </div>
            </div>
            </div>
        </div>

     
    
       

     

</body>
<div class="alert  alert-danger mt-2 text-center sideRedAlert"   role="alert"   >
    <i class=" mt-1 ms-2 me-2 fa-solid fa-circle-exclamation animate__animated animate__pulse animate__slowe animate__infinite"></i>  Loading time longer than expected.<a style="cursor:pointer  ; border-bottom: solid red 1px; font-weight: 900; margin-left: 10px;" (click)="reloadPage()">Reload</a>
</div>